In [5]:
import sqlite3

conn = sqlite3.connect('users.db')
print ("Opened database successfully")

conn.execute('CREATE TABLE IF NOT EXISTS userstable(username TEXT,password TEXT)')
print("Table created successfully")
conn.close()

Opened database successfully
Table created successfully

In [11]:
conn = sqlite3.connect('users.db')
def add_userdata(username,password):
  conn.execute('INSERT INTO userstable(username,password) VALUES (?,?)',(username,password))
  conn.commit()
  print("row added successfully")
add_userdata("test1","test1")
conn.close()

row added successfully

In [12]:
conn = sqlite3.connect('users.db')

cursor = conn.execute("SELECT username,password from userstable")
print(cursor)
for row in cursor:
   print("user = ", row[0])
   print("pass = ", row[1])
conn.close()

<sqlite3.Cursor object at 0x7f6fa902b6c0>
user =  test1
pass =  test1